<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <a href="{{ url_for('login') }}"><h2 class="inactive underlineHover"> Sign In </h2></a>
        <h2 class="active">Sign Up </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="{{ url_for('static', filename='login.png') }}" id="icon" alt="User Icon" />
        </div>

        <!-- Signup Form -->
        <form action="{{ url_for('register') }}" method="POST">
            <input type="text" id="name" class="fadeIn second" name="name" placeholder="Name">
            <input type="email" id="login" class="fadeIn second" name="email" placeholder="Email">
            <input type="password" id="password" class="fadeIn third" name="pass" placeholder="Password">
            <input type="submit" class="fadeIn fourth" value="Sign Up">
        </form>
    </div>
</div>
</body>
</html>
